* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.clear-btn, .reset-btn {
    border: 2px solid black;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    background: white;
}

.clear-btn:hover, .reset-btn:hover {
    background-color: gray;
}

.container {
    display: grid;
    height: 70%;
    width: 70%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}